RPC_URL=https://rpc.monad.xyz
WALLET_ADDRESS=0xYourWalletAddressHere
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
REPORT_INTERVAL_MIN=2
HF_THRESHOLD=1.1
HF_CHECK_INTERVAL_MIN=1
REPORT_SILENT=true
